// Timeline
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.timeline {

	// Structure
	@include box-sizing(border-box);
	float: right;
	margin-top: $header-height;
	overflow-y: scroll;
	padding: 1rem;
	position: fixed;
	right: 0;
	width: 20%;

	// Appearance
	background-color: lighten($background-color, 2);

	// Lists --------------------------------------------------------- /

	ul {
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;

		ul {
			display: none;
		}
	}

	li {
		cursor: pointer;
	}
	li li {
		padding-left: 1rem;
		border-left: 5px solid rgba(white, .05);
	}

	.timeline-year {
		font-size: 1.3rem;
		margin-left: 1rem;
	}
	.timeline-month {
		font-size: 1.2rem;
	}
	.timeline-day {
		font-size: 1.1rem;
	}

	// Links --------------------------------------------------------- /

	a {
		color: white;
		text-decoration: none;
	}

	li:hover > a,
	li.current > a,
	a:hover {
		color: $orange;
	}

}