// Log styles
//
// The styles of a chat log
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

// Log styles ------------------------------------------------------ /

.logs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	a {
		color: #ccc;
	}
	a:not(.logs-nav) {
		color: #ccc;
	}
	a.logs-nav {
		text-decoration: none;
	}

	.logs-day {
		font-size: 1.25rem;
		padding-bottom: .5rem;
		line-height: 1.25;
		border-bottom: 1px solid grey(25);
		margin: 2rem 0;
	}
}

// Log entries ----------------------------------------------------- /

.log-highlight {
	background-color: rgba(white, .15);
	color: white;
}

.log-entry {
	padding: .25rem;
}

.log-entry-username {
	color: $orange;
}

.log-entry-time {
	color: rgb(119, 119, 119);
}

.log-entry-quit,
.log-entry-part,
.log-entry-join,
.log-secondary {
	font-style: italic;
	color: #34495E;
}
