body {
  background-color: white;
  color: #4d4d4d;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem; }

.header {
  padding: 1rem;
  color: white;
  background-color: #33485f; }
  .header h1 {
    margin: 0; }

.content {
  padding: 2rem; }

.logs {
  width: 50%; }

.log-entry {
  margin-bottom: .5rem; }

.log-entry-username {
  color: #00bd9c; }

.log-entry-quit,
.log-entry-join {
  font-style: italic;
  color: #2c97de; }
