body {
  background-color: #222222;
  color: #ccc;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 12px;
  line-height: 16px; }

.header {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  position: fixed;
  background-color: #222222;
  width: 100%;
  color: white; }
  .header h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 100;
    letter-spacing: -.05em; }
    .header h1 small {
      color: #d69f20; }

.logo {
  opacity: 0.8;
  float: right;
  margin-bottom: 0.3em; }

.logo:hover {
  opacity: 1; }

.content {
  padding: 2rem; }

.logs {
  max-width: 75rem; }

.log-entry {
  margin-bottom: .5rem;
  line-height: 1rem; }

.log-entry-username {
  color: #db613b; }

.log-entry-time {
  color: #777777; }

.log-entry-quit,
.log-entry-join {
  font-style: italic;
  color: #34495E; }
