
//////////////////////////////////////////////////////////////////////
//////////////////////////////// HELPERS /////////////////////////////
//////////////////////////////////////////////////////////////////////

@function grey($lightness) {
	@return lighten(black, $lightness);
}

$dark-green: #00BD9C;
$light-blue: #2C97DE;
$dark-blue: #33485F;
$font-sans: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//////////////////////////////////////////////////////////////////////
///////////////////////////// SCAFFOLDING ////////////////////////////
//////////////////////////////////////////////////////////////////////

body {
	background-color: white;
	color: grey(30);
	font-family: $font-sans;
	font-size: 1rem;
}

input[type=search] {
	box-shadow: none;
	font-family: $font-sans;
	font-size: 1rem;
	border: 2px solid lighten($dark-blue, 20);
}

//////////////////////////////////////////////////////////////////////
//////////////////////////////// LAYOUT //////////////////////////////
//////////////////////////////////////////////////////////////////////

.header {
	padding: 1rem;
	color: white;
	background-color: $dark-blue;
	position: relative;

	h1 {
		margin: 0;
		padding: 0;
		line-height: 1;
	}

	form {
		$offset: 1.2rem;
		position: absolute;
		top: $offset;
		right: $offset;
	}
}

.content {
	padding: 2rem;
}

.logs {
	max-width: 75rem;
}

.log-entry {
	margin-bottom: .5rem;
}

.log-entry-username {
	color: $dark-green;
}

.log-entry-quit,
.log-entry-join {
	font-style: italic;
	color: $light-blue;
}