
@import "compass";

//////////////////////////////////////////////////////////////////////
//////////////////////////////// HELPERS /////////////////////////////
//////////////////////////////////////////////////////////////////////

@function grey($lightness) {
	@return lighten(black, $lightness);
}

$orange:      #DB613B;
$dark-orange: #E3B446;
$dark-blue:   darken(#2C3E50, 14);

$background-color: #222;

$font-mono: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

//////////////////////////////////////////////////////////////////////
///////////////////////////// SCAFFOLDING ////////////////////////////
//////////////////////////////////////////////////////////////////////

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	background-color: $background-color;
	color: #ccc;
	font-family: $font-mono;
	font-size: 12px;
	line-height: 16px;
}

//////////////////////////////////////////////////////////////////////
//////////////////////////////// LAYOUT //////////////////////////////
//////////////////////////////////////////////////////////////////////

@import "layout/header";

.content {
	padding: 2rem;
	padding-top: 7rem;
}

.logs {
	max-width: 75rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	a {
		color: #ccc;
	}
}

.log-entry {
	margin-bottom: .5rem;
	line-height: 1rem;
}

.log-entry-username {
	color: $orange;
}

.log-entry-time {
	color: rgb(119, 119, 119);
}

.log-entry-quit,
.log-entry-join,
.log-secondary {
	font-style: italic;
	color: #34495E;
}