
//////////////////////////////////////////////////////////////////////
//////////////////////////////// HELPERS /////////////////////////////
//////////////////////////////////////////////////////////////////////

@function grey($lightness) {
	@return lighten(black, $lightness);
}

$dark-green: #00BD9C;
$light-blue: #2C97DE;
$dark-blue: #33485F;
$font-sans: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//////////////////////////////////////////////////////////////////////
///////////////////////////// SCAFFOLDING ////////////////////////////
//////////////////////////////////////////////////////////////////////

body {
	background-color: white;
	color: grey(30);
	font-family: $font-sans;
	font-size: 1rem;
}

//////////////////////////////////////////////////////////////////////
//////////////////////////////// LAYOUT //////////////////////////////
//////////////////////////////////////////////////////////////////////

.header {
	padding: 1rem;
	color: white;
	background-color: $dark-blue;
	h1 {
		margin: 0;
	}
}

.content {
	padding: 2rem;
}

.logs {
	width: 50%;
}

.log-entry {
	margin-bottom: .5rem;
}

.log-entry-username {
	color: $dark-green;
}

.log-entry-quit,
.log-entry-join {
	font-style: italic;
	color: $light-blue;
}